In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
cereal_yield = "cereal_yield.csv"
cereal_yield_raw_df = pd.read_csv(cereal_yield)
cereal_yield_raw_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Cereal yield (kg per hectare),AG.YLD.CREL.KG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Cereal yield (kg per hectare),AG.YLD.CREL.KG,NaN,1115.1,1079.0,985.8,1082.8,1098.9,...,2040.7,2011.1,1659.9,2029.6,2048.5,2017.5,2133.0,1981.6,2024.7,NaN
2,Angola,AGO,Cereal yield (kg per hectare),AG.YLD.CREL.KG,NaN,828.0,830.3,798.4,875.8,932.0,...,571.4,629.3,662.4,552.0,814.4,888.3,982.0,934.1,904.5,NaN
3,Albania,ALB,Cereal yield (kg per hectare),AG.YLD.CREL.KG,NaN,845.2,941.8,982.3,1023.3,1037.3,...,4315.3,4761.8,4750.7,4883.8,4949.8,4892.6,4873.8,4716.4,4813.0,NaN
4,Andorra,AND,Cereal yield (kg per hectare),AG.YLD.CREL.KG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
cereal_yield_raw_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018'],
      dtype='object')

In [26]:
# Create a filtered dataframe from specific columns
cereal_cols = ["Country Name", "Country Code", "2016"]
cereal_yield_df= cereal_yield_raw_df[cereal_cols].copy()

# Rename the column headers
cereal_yield_df = cereal_yield_df.rename(columns={"Country Name": "country_name",
                                                        "Country Code": "country_code",
                                                         "2016": "yield"})

# Clean the data by dropping duplicates and setting the index
#premise_transformed.drop_duplicates("id", inplace=True)
cereal_yield_df.set_index("country_code", inplace=True)

cereal_yield_df

                                                   country_name         yield
country_code
ABW                                                       Aruba           NaN
AFG                                                 Afghanistan   1981.600000
AGO                                                      Angola    934.100000
ALB                                                     Albania   4716.400000
AND                                                     Andorra           NaN
ARB                                                  Arab World   1744.945443
ARE                                        United Arab Emirates  28130.100000
ARG                                                   Argentina   5203.500000
ARM                                                     Armenia   3076.100000
ASM                                              American Samoa           NaN
ATG                                         Antigua and Barbuda   1586.700000
AUS                                                   Australia   2075.200000
AUT                                                     Austria   7244.800000
AZE                                                  Azerbaijan   3004.800000
BDI                                                     Burundi   1524.800000
BEL                                                     Belgium   6984.800000
BEN                                                       Benin   1455.900000
BFA                                                Burkina Faso   1136.800000
BGD                                                  Bangladesh   4601.000000
BGR                                                    Bulgaria   4817.800000
BHR                                                     Bahrain           NaN
BHS                                                Bahamas, The   8526.100000
BIH                                      Bosnia and Herzegovina   5191.700000
BLR                                                     Belarus   3207.300000
BLZ                                                      Belize   3164.600000
BMU                                                     Bermuda           NaN
BOL                                                     Bolivia   2111.300000
BRA                                                      Brazil   4180.800000
BRB                                                    Barbados   2852.900000
BRN                                           Brunei Darussalam   1558.400000
...                                                         ...           ...
TLA           Latin America & the Caribbean (IDA & IBRD coun...   4185.291571
TLS                                                 Timor-Leste   2394.100000
TMN           Middle East & North Africa (IDA & IBRD countries)   2587.140546
TON                                                       Tonga           NaN
TSA                                     South Asia (IDA & IBRD)   3131.504062
TSS                   Sub-Saharan Africa (IDA & IBRD countries)   1399.718131
TTO                                         Trinidad and Tobago   1483.000000
TUN                                                     Tunisia   1542.200000
TUR                                                      Turkey   3105.400000
TUV                                                      Tuvalu           NaN
TZA                                                    Tanzania   1546.400000
UGA                                                      Uganda   1885.800000
UKR                                                     Ukraine   4651.600000
UMC                                         Upper middle income   4207.098221
URY                                                     Uruguay   4940.700000
USA                                               United States   8144.600000
UZB                                                  Uzbekistan   4585.600000
VCT                              St. Vincent and the Grenadines  24742.900000
VEN                                               Venezuela, RB   3426.900000
VGB                                      British Virgin Islands           NaN
VIR                                       Virgin Islands (U.S.)           NaN
VNM                                                     Vietnam   5441.000000
VUT                                                     Vanuatu    609.100000
WLD                                                       World   3967.029197
WSM                                                       Samoa           NaN
XKX                                                      Kosovo           NaN
YEM                                                 Yemen, Rep.    687.000000
ZAF                                                South Africa   3818.600000
ZMB                                                      Zambia   2417.700000
ZWE                                                    Zimbabwe    581.800000

[264 rows x 2 columns]

In [9]:
agriculture_land = "agriculture_land.csv"
agriculture_land_raw_df = pd.read_csv(agriculture_land)
agriculture_land_raw_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,11.111111,11.111111,11.111111,11.111111,11.111111,...,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,NaN,NaN
1,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,57.745918,57.837821,57.914407,58.010906,58.013969,...,58.067580,58.069111,58.067580,58.067580,58.067580,58.067580,58.067580,58.067580,NaN,NaN
2,Angola,AGO,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,45.857063,45.881126,45.897169,45.921232,45.937274,...,46.755434,46.835646,47.316917,47.316917,47.477340,47.477340,47.477340,47.477340,NaN,NaN
3,Albania,ALB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,44.963504,44.963504,45.000000,44.890511,45.145985,...,43.843067,43.843067,43.832117,43.843067,43.332119,42.857301,42.857666,43.127735,NaN,NaN
4,Andorra,AND,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,55.319149,55.319149,55.319149,55.319149,55.319149,...,44.191490,42.063831,42.063831,39.914894,40.021275,40.021275,40.021275,39.957448,NaN,NaN

In [10]:
agriculture_land_raw_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018'],
      dtype='object')

In [27]:
# Create a filtered dataframe from specific columns
ag_cols = ["Country Name", "Country Code", "2016"]
agriculture_land_df= agriculture_land_raw_df[ag_cols].copy()

# Rename the column headers
agriculture_land_df = agriculture_land_df.rename(columns={"Country Name": "country_name",
                                                        "Country Code": "country_code",
                                                         "2016": "percent_land"})

# Clean the data by dropping duplicates and setting the index
#premise_transformed.drop_duplicates("id", inplace=True)
agriculture_land_df.set_index("country_code", inplace=True)

agriculture_land_df

                                                   country_name  percent_land
country_code
ABW                                                       Aruba     11.111111
AFG                                                 Afghanistan     58.067580
AGO                                                      Angola     47.477340
ALB                                                     Albania     43.127735
AND                                                     Andorra     39.957448
ARB                                                  Arab World     36.610850
ARE                                        United Arab Emirates      5.474514
ARG                                                   Argentina     54.335712
ARM                                                     Armenia     58.897086
ASM                                              American Samoa     24.500000
ATG                                         Antigua and Barbuda     20.454545
AUS                                                   Australia     48.241944
AUT                                                     Austria     32.356676
AZE                                                  Azerbaijan     57.735575
BDI                                                     Burundi     79.166667
BEL                                                     Belgium     44.610305
BEN                                                       Benin     33.256474
BFA                                                Burkina Faso     44.225146
BGD                                                  Bangladesh     70.632327
BGR                                                    Bulgaria     46.250921
BHR                                                     Bahrain     11.053985
BHS                                                Bahamas, The      1.398601
BIH                                      Bosnia and Herzegovina     43.144531
BLR                                                     Belarus     42.035489
BLZ                                                      Belize      7.014467
BMU                                                     Bermuda      5.555556
BOL                                                     Bolivia     34.787224
BRA                                                      Brazil     33.924533
BRB                                                    Barbados     23.255814
BRN                                           Brunei Darussalam      2.732448
...                                                         ...           ...
TLA           Latin America & the Caribbean (IDA & IBRD coun...     37.570951
TLS                                                 Timor-Leste     25.554808
TMN           Middle East & North Africa (IDA & IBRD countries)     22.843529
TON                                                       Tonga     45.833333
TSA                                     South Asia (IDA & IBRD)     56.806288
TSS                   Sub-Saharan Africa (IDA & IBRD countries)     43.685707
TTO                                         Trinidad and Tobago     10.526316
TUN                                                     Tunisia     64.836509
TUR                                                      Turkey     49.799254
TUV                                                      Tuvalu     59.999998
TZA                                                    Tanzania     44.761797
UGA                                                      Uganda     71.888091
UKR                                                     Ukraine     71.665314
UMC                                         Upper middle income     34.432395
URY                                                     Uruguay     82.559705
USA                                               United States     44.369068
UZB                                                  Uzbekistan     62.929008
VCT                              St. Vincent and the Grenadines     25.641026
VEN                                               Venezuela, RB     24.488408
VGB                                      British Virgin Islands     46.666667
VIR                                       Virgin Islands (U.S.)     11.428571
VNM                                                     Vietnam     39.275002
VUT                                                     Vanuatu     15.340443
WLD                                                       World     37.430740
WSM                                                       Samoa     12.367491
XKX                                                      Kosovo           NaN
YEM                                                 Yemen, Rep.     44.597231
ZAF                                                South Africa     79.830021
ZMB                                                      Zambia     32.063923
ZWE                                                    Zimbabwe     41.876696

[264 rows x 2 columns]

In [59]:
cereal_df = cereal_yield_df.merge(agriculture_land_df, left_on='country_code', right_on='country_code')
cereal_df

,country_name_x,yield,country_name_y,percent_land
country_code,,,,
ABW,Aruba,NaN,Aruba,11.111111
AFG,Afghanistan,1981.600000,Afghanistan,58.067580
AGO,Angola,934.100000,Angola,47.477340
ALB,Albania,4716.400000,Albania,43.127735
AND,Andorra,NaN,Andorra,39.957448
ARB,Arab World,1744.945443,Arab World,36.610850
ARE,United Arab Emirates,28130.100000,United Arab Emirates,5.474514
ARG,Argentina,5203.500000,Argentina,54.335712
ARM,Armenia,3076.100000,Armenia,58.897086
ASM,American Samoa,NaN,American Samoa,24.500000
ATG,Antigua and Barbuda,1586.700000,Antigua and Barbuda,20.454545
AUS,Australia,2075.200000,Australia,48.241944
AUT,Austria,7244.800000,Austria,32.356676
AZE,Azerbaijan,3004.800000,Azerbaijan,57.735575
BDI,Burundi,1524.800000,Burundi,79.166667
BEL,Belgium,6984.800000,Belgium,44.610305
BEN,Benin,1455.900000,Benin,33.256474
BFA,Burkina Faso,1136.800000,Burkina Faso,44.225146
BGD,Bangladesh,4601.000000,Bangladesh,70.632327
BGR,Bulgaria,4817.800000,Bulgaria,46.250921
BHR,Bahrain,NaN,Bahrain,11.053985
BHS,"Bahamas, The",8526.100000,"Bahamas, The",1.398601
BIH,Bosnia and Herzegovina,5191.700000,Bosnia and Herzegovina,43.144531
BLR,Belarus,3207.300000,Belarus,42.035489
BLZ,Belize,3164.600000,Belize,7.014467
BMU,Bermuda,NaN,Bermuda,5.555556
BOL,Bolivia,2111.300000,Bolivia,34.787224
BRA,Brazil,4180.800000,Brazil,33.924533
BRB,Barbados,2852.900000,Barbados,23.255814
BRN,Brunei Darussalam,1558.400000,Brunei Darussalam,2.732448
...,...,...,...,...
TLA,Latin America & the Caribbean (IDA & IBRD coun...,4185.291571,Latin America & the Caribbean (IDA & IBRD coun...,37.570951
TLS,Timor-Leste,2394.100000,Timor-Leste,25.554808
TMN,Middle East & North Africa (IDA & IBRD countries),2587.140546,Middle East & North Africa (IDA & IBRD countries),22.843529
TON,Tonga,NaN,Tonga,45.833333
TSA,South Asia (IDA & IBRD),3131.504062,South Asia (IDA & IBRD),56.806288
TSS,Sub-Saharan Africa (IDA & IBRD countries),1399.718131,Sub-Saharan Africa (IDA & IBRD countries),43.685707
TTO,Trinidad and Tobago,1483.000000,Trinidad and Tobago,10.526316
TUN,Tunisia,1542.200000,Tunisia,64.836509
TUR,Turkey,3105.400000,Turkey,49.799254
TUV,Tuvalu,NaN,Tuvalu,59.999998
TZA,Tanzania,1546.400000,Tanzania,44.761797
UGA,Uganda,1885.800000,Uganda,71.888091
UKR,Ukraine,4651.600000,Ukraine,71.665314
UMC,Upper middle income,4207.098221,Upper middle income,34.432395
URY,Uruguay,4940.700000,Uruguay,82.559705
USA,United States,8144.600000,United States,44.369068
UZB,Uzbekistan,4585.600000,Uzbekistan,62.929008
VCT,St. Vincent and the Grenadines,24742.900000,St. Vincent and the Grenadines,25.641026
VEN,"Venezuela, RB",3426.900000,"Venezuela, RB",24.488408
VGB,British Virgin Islands,NaN,British Virgin Islands,46.666667
VIR,Virgin Islands (U.S.),NaN,Virgin Islands (U.S.),11.428571
VNM,Vietnam,5441.000000,Vietnam,39.275002
VUT,Vanuatu,609.100000,Vanuatu,15.340443
WLD,World,3967.029197,World,37.430740
WSM,Samoa,NaN,Samoa,12.367491
XKX,Kosovo,NaN,Kosovo,NaN
YEM,"Yemen, Rep.",687.000000,"Yemen, Rep.",44.597231
ZAF,South Africa,3818.600000,South Africa,79.830021
ZMB,Zambia,2417.700000,Zambia,32.063923
ZWE,Zimbabwe,581.800000,Zimbabwe,41.876696

In [63]:
cereal_df.drop(columns=['country_name_y'], inplace=True)

In [64]:
cereal_df.rename(index=str, columns={"country_name_x": "country_name"})

,country_name,yield,percent_land
country_code,,,
ABW,Aruba,NaN,11.111111
AFG,Afghanistan,1981.600000,58.067580
AGO,Angola,934.100000,47.477340
ALB,Albania,4716.400000,43.127735
AND,Andorra,NaN,39.957448
ARB,Arab World,1744.945443,36.610850
ARE,United Arab Emirates,28130.100000,5.474514
ARG,Argentina,5203.500000,54.335712
ARM,Armenia,3076.100000,58.897086
ASM,American Samoa,NaN,24.500000
ATG,Antigua and Barbuda,1586.700000,20.454545
AUS,Australia,2075.200000,48.241944
AUT,Austria,7244.800000,32.356676
AZE,Azerbaijan,3004.800000,57.735575
BDI,Burundi,1524.800000,79.166667
BEL,Belgium,6984.800000,44.610305
BEN,Benin,1455.900000,33.256474
BFA,Burkina Faso,1136.800000,44.225146
BGD,Bangladesh,4601.000000,70.632327
BGR,Bulgaria,4817.800000,46.250921
BHR,Bahrain,NaN,11.053985
BHS,"Bahamas, The",8526.100000,1.398601
BIH,Bosnia and Herzegovina,5191.700000,43.144531
BLR,Belarus,3207.300000,42.035489
BLZ,Belize,3164.600000,7.014467
BMU,Bermuda,NaN,5.555556
BOL,Bolivia,2111.300000,34.787224
BRA,Brazil,4180.800000,33.924533
BRB,Barbados,2852.900000,23.255814
BRN,Brunei Darussalam,1558.400000,2.732448
...,...,...,...
TLA,Latin America & the Caribbean (IDA & IBRD coun...,4185.291571,37.570951
TLS,Timor-Leste,2394.100000,25.554808
TMN,Middle East & North Africa (IDA & IBRD countries),2587.140546,22.843529
TON,Tonga,NaN,45.833333
TSA,South Asia (IDA & IBRD),3131.504062,56.806288
TSS,Sub-Saharan Africa (IDA & IBRD countries),1399.718131,43.685707
TTO,Trinidad and Tobago,1483.000000,10.526316
TUN,Tunisia,1542.200000,64.836509
TUR,Turkey,3105.400000,49.799254
TUV,Tuvalu,NaN,59.999998
TZA,Tanzania,1546.400000,44.761797
UGA,Uganda,1885.800000,71.888091
UKR,Ukraine,4651.600000,71.665314
UMC,Upper middle income,4207.098221,34.432395
URY,Uruguay,4940.700000,82.559705
USA,United States,8144.600000,44.369068
UZB,Uzbekistan,4585.600000,62.929008
VCT,St. Vincent and the Grenadines,24742.900000,25.641026
VEN,"Venezuela, RB",3426.900000,24.488408
VGB,British Virgin Islands,NaN,46.666667
VIR,Virgin Islands (U.S.),NaN,11.428571
VNM,Vietnam,5441.000000,39.275002
VUT,Vanuatu,609.100000,15.340443
WLD,World,3967.029197,37.430740
WSM,Samoa,NaN,12.367491
XKX,Kosovo,NaN,NaN
YEM,"Yemen, Rep.",687.000000,44.597231
ZAF,South Africa,3818.600000,79.830021
ZMB,Zambia,2417.700000,32.063923
ZWE,Zimbabwe,581.800000,41.876696

In [36]:
agriculture_land_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 264 entries, ABW to ZWE
Data columns (total 2 columns):
country_name    264 non-null object
percent_land    254 non-null float64
dtypes: float64(1), object(1)
memory usage: 6.2+ KB

In [46]:
#change root to my mysql user name and my sql password

rds_connection_string = "root:1221@localhost/agriculture_db"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')

In [45]:
engine.table_names()

['agriculture_land', 'cereal_yield']

In [ ]:
cereal_yield_df.to_sql(name='cereal_yield', con=engine, if_exists='append', index=True)

In [56]:
agriculture_land_df.to_sql(name='agriculture_land', con=engine, if_exists='append', index=True)